
<div class="container">
  <div class="page-header">
    <% if (user.local.firstName) { %>
    <h1>
      <span class=""></span> Hi! <%= user.local.firstName %>
      <span class=""></span><%= user.local.lastName %>
    </h1>
    <ul>
      <li>profile photo: <img style="max-width:100px" src="<%= user.avatarUrl %>"></li>
      <li>email: <%= user.local.email %></li>
      <li>age: <%= user.local.age %></li>
      <li>gender: <%= user.local.gender %></li>
    </ul>
    <% } else { %>
    <h1><span class="fa fa-anchor"></span> Hi! <%= user.facebook.name %></h1>
    <ul>
      <li>profile photo: <img style="max-width:100px" src="<%= user.avatarUrl %>"></li>
      <li>email: <%= user.email %></li>
      <li>age: <%= user.age %></li>
      <li>gender: <%= user.gender %></li>
    </ul>
    <% } %>

    <!-- <ul>
      <li>profile photo: <img style="max-width:100px" src="<%= user.avatarUrl %>"></li>
      <li>email: <%= user.local.email %></li>
      <li>age: <%= user.local.age %></li>
      <li>gender: <%= user.local.gender %></li>
    </ul> -->
    <a href="/profile/edit/<%= user._id %>" class="btn btn-default btn-sm">Edit</a>
    <a href="/users/" class="btn btn-default btn-sm">Checkout Other Users</a>
  </div>
  <div class="row">
<!-- LOCAL INFORMATION -->
  <div class="col-sm-6">
    <!-- <div class="well"> -->
      <!-- <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3> -->
        <!-- <p>
            <strong>email</strong>: <%= user.facebook.email %><br>
            <strong>password</strong>: <%= user.facebook.name %>
        </p> -->
      <!-- </div> -->
    </div>
  </div>
</div>
<script>

</script>

<!-- Obtaining images posted by other users -->
<!-- Display it on this page -->
